body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: black;
	text-align: center;
	font-family: verdana, arial, helvetica, sans-serif;
	background-color:#333;
	font-size: 70%;
}
			
h1, h2 {
	padding-right: 20px;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	letter-spacing: -1px;
}

p {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: 130%;
}
p.random{
	width: 30%;
	text-decoration:underline;
}
			
div#intestazione {
	color: #eee;
	text-align: right;
	overflow: hidden;
	position: absolute;
	background-color: #333;
	height: 9%;
	width: 100%;
}
			
div#contenuto {
	overflow: auto;
	position: relative;
	top:9%;
	background-color: #EEEEEE;
	height: 85%;
	border-color: #000;
	border-style: solid none;
}
			
div#tags-container {
	position: relative;
	width: 100%;
	height: 15%;
}
			
div#color-container {
	position: relative;
	left:10%;
	width: 30%;
	height: 100%;
	float: left;
}
			
div#tag-container {
	position: relative;
	left:30%;
	width: 30%;
	height:100%;
	float: left;
}
			
div#navcontainer {
	overflow: auto;
	margin: auto;
	position: relative;
	width: 95%;
	height: 60%;
}
						
div#navcontainer ul {
	width:85%;
	text-align: center;
	margin: 0 7% 1% 4%;
}
						
div#navcontainer ul li{
	margin: 20px 3px;
	text-align: center;
	display: inline;
	list-style: none;
}
div#navcontainer ul a:hover img {
	padding: 3px;
	border: 2px solid #000;
}
						
div#navcontainer ul li a img {
	padding: 3px;
	border: 2px solid #ccc;
}

div#drop-container {
	text-align: center;
	position: relative;
	height:25%;
	width:100%;
}
div#random-container {
	position: relative;
	float: left;
	width:35%;
	height: 100%;
	
}

.random {
	position:relative;
	margin-top: 19%;
	margin-left: 5%;
	text-align: left;
}
p.random:hover
{
	color: #000000;
	font-weight: bold;
	cursor: default;
}
			
div#drop-box {
	position: relative;
	width: 30%;
	height: 100%;
	float: left;
}
			
div.panel,p.flip, div.panel2, p.flip2
{
	cursor: default;
	margin:0px;
	padding:5px;
	text-align:center;
	background:#F6F6F6;
	color:#333;
	border:solid 1px #c3c3c3;
	border-radius: 10px;
}

div.flip, div.flip2 {
	margin: 10px;
}
div.panel, div.panel2
{
	height:25px;
	display:none;
}

p.flip:hover, p.flip2:hover
{
	color: #000000;
	font-weight: bold;
}
input#tags {
	position:relative;
	width: 80%;
}
p#similarity {
	margin:0 auto;
	position: relative;
	width: 70%;
	height: 23%;
}
div#droppable {
	left: 30%;
	position: relative;
	width: 40%;
	height: 76%;
	border: 1px solid #444;
	background-color: #F6f6f6;
	color: #333;
}

#scritta {
	margin: 50px 10px 0;
}

.dropped{
	position: relative;
}
