html, body {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	background-color: #eee;
	color: #444;
	font-size =75%;
}

h1, h2 {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	margin: 0;
	letter-spacing: -1px;
}

h1 {
	font-size: 2.5em;
}
h2 {
	font-size:1.5em;
}

div#Page {
	height:80%;
	background-color: #fff;
	margin: 3% auto 0;
	border-color: #ddd;
	border-style: solid none;
}

div#Footer {
	clear: both;
	font-size: 85%;
	color: #777;
	margin: 0 auto;
	padding: 20px 0 30px;
}

div#Container {
	padding: 10px;
}

div#Navcontainer {
	margin: 0 7% 0 5%;
}

div#Navcontainer ul
{
	list-style: none;
	text-align: center;
	margin: 0 auto;
}
div#Navcontainer ul li
{
	margin: 5px;
	display: inline;
}

div#contenitore
{
	float: left;
}
div#Navcontainer ul a:hover img {
	padding: 2px;
	border: 2px solid #000;
}

div#Navcontainer ul li a img {
	padding: 2px;
	border: 2px solid #ccc;
<<<<<<< HEAD
}
=======
}
>>>>>>> master
